
:root {
  --bg: #070707;
  --bg-b: #1e171f;
  --fg: #f4fefb;
  --fg-b: #e5e3d3;
  --txt: #f4fefb;
  --acnt-a: #78423b;
  --acnt-b: #aeb0af;
  --acnt-c: #7035bb;
  --acnt-cb: #70059b;
  --acnt-d: #090910;
  --acnt-e: #474a4f;
  --acnt-f: #0a010a;
  --acnt-g: #090210;
  --clr: #00000000;
  --indicator-inactive: #171a1f;
  --indicator-active: #ff0077;
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  font-family: mono;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--acnt-g);
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./../images/photos/00_07b.jpg') no-repeat center center fixed;
  background-size: cover;
}

.content-field {
  width: 0;
  transition: .5s;
  transition-timing-function: linear;
  height: 85%;
  background: var(--acnt-f);
  background: linear-gradient(var(--clr), var(--acnt-f));
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  box-shadow: var(--acnt-f) 0 0 .4em .1em;
  position: absolute;
  display: none;
  backdrop-filter: blur(2px);
  gap: 1em;
}

.content-field h2 {
  text-align: start;
  color: var(--txt);
  padding: 1em;
  width: 100%;
  width: 80%;
  background: linear-gradient(var(--acnt-f), var(--clr));
  border-radius: 1em 1em 0 0;
  z-index: 1;
  transition: .7s;
  opacity: 0;
}

.assemble-query {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 21;
  overflow: scroll;
  gap: 2em;
  padding: 3em 3em 3em 3em;
  border-radius: 1em;
  border-top: 2px solid var(--acnt-cb);
  border-left: 2px solid var(--acnt-cb);
  border-right: 2px solid var(--acnt-cb);
  background: var(--acnt-g);
  transition: .7s;
  opacity: 0;
  scrollbar-color: var(--acnt-cb) var(--clr);
}

.assem-items {
  background: var(--bg-b);
  color: var(--fg);
  border-radius: .6em;
  width: 100%;
  min-height: 5em;
  box-shadow: inset var(--acnt-g) -.2em -.2em .5em, var(--acnt-f) 0 0 .4em .1em;
}

.tooltip-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.query-item {
  width: 100%;
  text-align: center;
  letter-spacing: .2em;
}

.staging-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  width: 80%;
  left: 50%;
  padding: 1em;
  transition: .7s;
  opacity: 0;
}

.staging-button {
  text-align: center;
  background: var(--acnt-g);
  color: var(--txt);
  cursor: none;
  width: 15%;
  height: 4em;
  border-radius: 2em;
  transition: .2s;
  font-weight: 600;
  letter-spacing: .1em;
  box-shadow: var(--clr) 0 0 .2em .2em, inset -.3em -.3em .2em var(--acnt-d);
}

.staging-button:hover {
  box-shadow: var(--acnt-cb) 0 0 .2em .2em, inset -.3em -.3em .2em var(--indicator-active);
}

.staging-button:active {
  transform: translateY(5px);
  background: var(--acnt-cb);
}

.search-field {
  background: linear-gradient(-35deg, var(--acnt-g), var(--acnt-f));
  width: 30em;
  height: 30em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  box-shadow: var(--bg) 0 0 .2em .1em, inset -.2em -.2em 1em var(--acnt-g);
}

.search-field-button {
  background: var(--acnt-f);
  color: var(--txt);
  font-weight: 600;
  letter-spacing: .1em;
  width: 25%;
  height: 4em;
  border-radius: 2em;
  transition: .2s;
  cursor: none;
  box-shadow: var(--clr) 0 0 .2em .2em, inset -.3em -.3em .2em var(--acnt-d);
}

.search-field-button:hover {
  box-shadow: var(--acnt-cb) 0 0 .2em .2em, inset -.3em -.3em .2em var(--indicator-active);
}

.search-field-button:active {
  transform: translateY(5px);
  background: var(--acnt-cb);
  cursor: none;
}

.search-field-indicator {
  background: var(--indicator-inactive);
  width: 5%;
  height: 1em;
  border-radius: .5em;
  box-shadow: inset -.1em -.1em .2em var(--acnt-d);
}

.search-string {
  display: none;
}

.query-date-item {
  padding: 0 25%;
}

@media (max-width: 1080px) {
  body, html {
    background: url('./../images/photos/00_07c.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .content-field {
    width: 100%;
    height: 100%;
    border-radius: unset;
    padding: 1em;
  }

  .content-field h2 {
    width: 98%;
  }

  .assemble-query {
    width: 98%;
    padding: 1em;
    gap: .9em;
  }

  .query-date-item {
    padding: 0 15%;
  }

  .staging-field {
    width: 98%;
  }

  .staging-button {
    width: 50%;
  }

  .search-field {
    width: 20em;
    height: 20em;
  }

  .search-field-button {
    width: 30%;
  }

  .search-field-indicator {
    width: 5%;
  }
}

